

<footer class="z-footer" style : "margin-top: 100px;">
    <div class="z-footer-container">
        <div>
            <a href="/" class="z-footer-logo">Zomato</a>
            <p>Discover the best food & drinks in your city.</p>
        </div>
        <div class="z-footer-links">
            <a href="#" class="z-footer-link">Home</a>
            <a href="#" class="z-footer-link">Order Food</a>
            <a href="#" class="z-footer-link">Restaurants</a>
            <a href="#" class="z-footer-link">About</a>
            <a href="#" class="z-footer-link">Contact</a>
        </div>
        <div class="z-footer-social">
            <span>Follow us:</span>
            <div>
                <a href="#" title="Facebook">Facebook</a>
                <a href="#" title="Twitter">Twitter</a>
                <a href="#" title="Instagram">Instagram</a>
            </div>
        </div>
    </div>
    <div class="z-footer-bottom">
        &copy; {{ year|default:2025 }} Zomato. All rights reserved.
    </div>
</footer>