
<nav class="z-navbar">
    <a href="/" class="z-navbar-logo">Zomato</a>
    <div class="z-navbar-links">
        <a href="{% url "home" %}" class="z-navbar-link">Home</a>
        <a href="#" class="z-navbar-link">Order Food</a>
        <a href="#" class="z-navbar-link">Restaurants</a>
        <a href="#" class="z-navbar-link">About</a>
    </div>
    <div class="z-navbar-actions">
        <a href="{% url "login" %}" class="z-navbar-btn">Login</a>
        <a href="{% url "register" %}" class="z-navbar-btn">Sign Up</a>
    </div>
</nav>